# Entorno virtual
.venv

# Archivos y directorios de Python
__pycache__/

#credenciales
.env

# Datos crudos y procesados (para evitar subir datos grandes)
data/
data/us_accidents_cleaned.csv
data/merged_data.csv
data/us_accidents_raw.csv
data/API_data.csv
data/API_data_Cleaned.csv
data/merged_data_cleaned.csv
get-pip.py
src/Credentials.py
src/client_secret.json
accidents_usa.json
puglins/
venv/